flows.json
[
    {
        "id": "76e7512d77fc1b99",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f68001a88804d135",
        "type": "function",
        "z": "76e7512d77fc1b99",
        "name": "function_wantedTemp",
        "func": "msg.payload = \"3$\" + msg.payload + \"#\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 660,
        "wires": [
            [
                "598cbedf8b593ce9"
            ]
        ]
    },
    {
        "id": "85a7d92674e7d230",
        "type": "function",
        "z": "76e7512d77fc1b99",
        "name": "function_maxLight",
        "func": "msg.payload = \"2$\" + msg.payload + \"#\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 600,
        "wires": [
            [
                "598cbedf8b593ce9"
            ]
        ]
    },
    {
        "id": "34f49ce1bcd4a205",
        "type": "function",
        "z": "76e7512d77fc1b99",
        "name": "function_minLight",
        "func": "msg.payload = \"1$\" + msg.payload + \"#\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 540,
        "wires": [
            [
                "598cbedf8b593ce9"
            ]
        ]
    },
    {
        "id": "cefeef838b963296",
        "type": "function",
        "z": "76e7512d77fc1b99",
        "name": "function_USB_USART",
        "func": "var outMsg = [];\nvar msgs = msg.payload.trim().split(\"$\");\n\nfor(var v in msgs){\n    outMsg.push({payload:msgs[v]});\n}\n\nreturn outMsg;",
        "outputs": 6,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 560,
        "wires": [
            [
                "cb5da4e17e89d898",
                "ea8bbd0510c0e810"
            ],
            [
                "07a38595b018fbce",
                "d0404b934141cbea"
            ],
            [
                "fdecbb592a5c9fae"
            ],
            [
                "1c1323762469a742",
                "d08e0d571cfb666a"
            ],
            [
                "e4b5ccf0680d6450",
                "43ed5779c1cbd9cb"
            ],
            [
                "bc02e4ee6c875570",
                "3d7f3d9c48129ddc"
            ]
        ]
    },
    {
        "id": "fdecbb592a5c9fae",
        "type": "function",
        "z": "76e7512d77fc1b99",
        "name": "function_statusLight_ON_OFF",
        "func": "if(msg.payload == 1){\n    msg.payload = \"ON\";\n    msg.color = \"green\";\n} else {\n    msg.payload = \"OFF\";\n    msg.color = \"red\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 740,
        "wires": [
            [
                "aa470cdb661761bf"
            ]
        ]
    },
    {
        "id": "21736a2dc935ceae",
        "type": "function",
        "z": "76e7512d77fc1b99",
        "name": "function_forceLights",
        "func": "msg.payload = \"0$\" + Number(msg.payload) + \"#\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 480,
        "wires": [
            [
                "598cbedf8b593ce9"
            ]
        ]
    },
    {
        "id": "61f248ddc824965e",
        "type": "function",
        "z": "76e7512d77fc1b99",
        "name": "function_forceCooler",
        "func": "msg.payload = \"4$\" + Number(msg.payload) + \"#\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 420,
        "wires": [
            [
                "598cbedf8b593ce9"
            ]
        ]
    },
    {
        "id": "3c78740854ad355b",
        "type": "ui_switch",
        "z": "76e7512d77fc1b99",
        "name": "",
        "label": "Lights",
        "tooltip": "Many functionalities []",
        "group": "bebf685035999734",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 870,
        "y": 480,
        "wires": [
            [
                "21736a2dc935ceae"
            ]
        ]
    },
    {
        "id": "3be005faf4e5cf45",
        "type": "ui_switch",
        "z": "76e7512d77fc1b99",
        "name": "",
        "label": "Cooler",
        "tooltip": "It works just with the slider [Influence °C/%]",
        "group": "bebf685035999734",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 870,
        "y": 420,
        "wires": [
            [
                "61f248ddc824965e"
            ]
        ]
    },
    {
        "id": "fdd2b2de9ce3b93f",
        "type": "ui_slider",
        "z": "76e7512d77fc1b99",
        "name": "",
        "label": "Min Light",
        "tooltip": "Ways of working: []",
        "group": "bebf685035999734",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "255",
        "step": 1,
        "className": "",
        "x": 860,
        "y": 540,
        "wires": [
            [
                "34f49ce1bcd4a205"
            ]
        ]
    },
    {
        "id": "aba38720439ec272",
        "type": "ui_slider",
        "z": "76e7512d77fc1b99",
        "name": "",
        "label": "Max Light",
        "tooltip": "Ways of working: []",
        "group": "bebf685035999734",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "255",
        "step": 1,
        "className": "",
        "x": 860,
        "y": 600,
        "wires": [
            [
                "85a7d92674e7d230"
            ]
        ]
    },
    {
        "id": "ea3eddc27a2a52a8",
        "type": "ui_slider",
        "z": "76e7512d77fc1b99",
        "name": "",
        "label": "Wanted Temperature",
        "tooltip": "",
        "group": "bebf685035999734",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "15",
        "max": "35",
        "step": ".5",
        "className": "",
        "x": 860,
        "y": 660,
        "wires": [
            [
                "f68001a88804d135"
            ]
        ]
    },
    {
        "id": "aa470cdb661761bf",
        "type": "ui_text",
        "z": "76e7512d77fc1b99",
        "group": "bebf685035999734",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Light",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "16",
        "color": "#000000",
        "x": 950,
        "y": 740,
        "wires": []
    },
    {
        "id": "5a91c3b5bf0dab23",
        "type": "ui_text",
        "z": "76e7512d77fc1b99",
        "group": "bebf685035999734",
        "order": 7,
        "width": "2",
        "height": 2,
        "name": "Control Menu",
        "label": "",
        "format": "",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "16",
        "color": "#0d1821",
        "x": 980,
        "y": 360,
        "wires": []
    },
    {
        "id": "cb5da4e17e89d898",
        "type": "ui_gauge",
        "z": "76e7512d77fc1b99",
        "name": "",
        "group": "01cce491b5a2049a",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "🌡️",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#b35f00",
            "#e65c00",
            "#cb3a3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 650,
        "y": 340,
        "wires": []
    },
    {
        "id": "07a38595b018fbce",
        "type": "ui_gauge",
        "z": "76e7512d77fc1b99",
        "name": "",
        "group": "8d9b7dec5ad425c6",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "💧",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#08dfe2",
            "#00a1e6",
            "#3c3acb"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 650,
        "y": 420,
        "wires": []
    },
    {
        "id": "3d7f3d9c48129ddc",
        "type": "ui_gauge",
        "z": "76e7512d77fc1b99",
        "name": "",
        "group": "be3914e23c277f42",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "⚡",
        "label": "mA",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#b0b300",
            "#e68600",
            "#da1010"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 650,
        "y": 500,
        "wires": []
    },
    {
        "id": "ea8bbd0510c0e810",
        "type": "ui_chart",
        "z": "76e7512d77fc1b99",
        "name": "",
        "group": "01cce491b5a2049a",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperature °C",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "150",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#f00a15",
            "#096bec",
            "#0c45ed",
            "#2ca02c",
            "#2afa00",
            "#d62728",
            "#5d2322",
            "#cf32d2",
            "#910ff5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 680,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "d0404b934141cbea",
        "type": "ui_chart",
        "z": "76e7512d77fc1b99",
        "name": "",
        "group": "8d9b7dec5ad425c6",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Humidity %",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "150",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1037f9",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "bc02e4ee6c875570",
        "type": "ui_chart",
        "z": "76e7512d77fc1b99",
        "name": "",
        "group": "be3914e23c277f42",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Current mA",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "150",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ffae00",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "55655e8853fdc2c7",
        "type": "serial in",
        "z": "76e7512d77fc1b99",
        "name": "",
        "serial": "61db5a5dcc5bb06e",
        "x": 250,
        "y": 560,
        "wires": [
            [
                "cefeef838b963296"
            ]
        ]
    },
    {
        "id": "598cbedf8b593ce9",
        "type": "serial out",
        "z": "76e7512d77fc1b99",
        "name": "",
        "serial": "61db5a5dcc5bb06e",
        "x": 1310,
        "y": 500,
        "wires": []
    },
    {
        "id": "1c1323762469a742",
        "type": "ui_gauge",
        "z": "76e7512d77fc1b99",
        "name": "",
        "group": "60133d66253c5b9e",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "🔌",
        "label": "V",
        "format": "{{value}}",
        "min": 0,
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 650,
        "y": 580,
        "wires": []
    },
    {
        "id": "d08e0d571cfb666a",
        "type": "ui_chart",
        "z": "76e7512d77fc1b99",
        "name": "",
        "group": "60133d66253c5b9e",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Voltage V",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "20",
        "removeOlder": 1,
        "removeOlderPoints": "150",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#07d7f2",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 660,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "e4b5ccf0680d6450",
        "type": "ui_chart",
        "z": "76e7512d77fc1b99",
        "name": "",
        "group": "af3d995154fb83f2",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Power W",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "10",
        "removeOlder": 1,
        "removeOlderPoints": "150",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#28b31e",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d72323",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 660,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "43ed5779c1cbd9cb",
        "type": "ui_gauge",
        "z": "76e7512d77fc1b99",
        "name": "",
        "group": "af3d995154fb83f2",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "💪",
        "label": "W",
        "format": "{{value}}",
        "min": 0,
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#de2121"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 650,
        "y": 660,
        "wires": []
    },
    {
        "id": "bebf685035999734",
        "type": "ui_group",
        "name": "🔧Config Preferences:",
        "tab": "901dae660bd3e702",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "01cce491b5a2049a",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "901dae660bd3e702",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8d9b7dec5ad425c6",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "901dae660bd3e702",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "be3914e23c277f42",
        "type": "ui_group",
        "name": "Current",
        "tab": "901dae660bd3e702",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "61db5a5dcc5bb06e",
        "type": "serial-port",
        "serialport": "COM4",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "60133d66253c5b9e",
        "type": "ui_group",
        "name": "Voltage",
        "tab": "901dae660bd3e702",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "af3d995154fb83f2",
        "type": "ui_group",
        "name": "Power",
        "tab": "901dae660bd3e702",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "901dae660bd3e702",
        "type": "ui_tab",
        "name": "🏡CasaMonitor",
        "icon": "",
        "disabled": false,
        "hidden": false
    }
]